@import 'vendors/reset.scss';
@import 'config/medias.scss';
@import 'blocs/newParty.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';

$primary-color: #BAE5E5;
$secondary-color: #98D6EA;

body {
  background-color: $primary-color;
  .share_button {
    display: none;
  }
  .party_details {
    padding: 20px;
    background-color: $secondary-color;
    box-shadow: 0 6px 20px $secondary-color;
    margin-top: 5%;
    .list-group {
      .list-group-item {
        background-color: transparent !important;
        border: none !important;
        form {
          display: inline-block;
        }
      }
    }
  }
  .alert {
    z-index: 1;
  }
}
